.tape-head{
    text-align: center;
    font-size: 12px;
    position: absolute;
    color: black;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(160, 190, 254);
    padding: 2px;
}

.tape {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .tape-cell {
    font-size: 1.5rem; /* Adjust the font size as needed */
    padding: 0.5rem; /* Adjust the padding to add space between cells */
  }
  
  .head {
    background-color: rgb(107, 158, 246);
  }
  
  .controls {
    margin-top: 10px;
  }
  
  button {
    margin-right: 10px;
  }